{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}
fchainisobackupledger - transactions
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'deposite/css/tables_.css' %}" />
{% endblock %}

{% block page %}
My-transactions
{% endblock page%}

{% block content %}

<div class="outer-wrapper mx-auto shadow bg-white">
    <div class="table-wrapper">
    <table class="table table-striped">
        <thead>
            <th><strong>S/N</strong></th>
            <th><strong>User plan</strong> </th>
            <th><strong>cryptocurrency</strong> </th>
            <th><strong>Address</strong></th>
            <th><strong>Amount in cryptocurrency</strong></th>
            <th><strong>Date created</strong></th>
            
            
        </thead>
        <tbody>
 
        {% if transaction_found == "yes" %} 
            {% for transact in my_transaction %}
            <tr>
                <td class="text-dark text-center">{{ forloop.counter }}</td>
                <td class="text-dark text-center">{{transact.deposite_transact.plan}}</td>
                <td class="text-dark text-center">{{transact.crypto}}</td>
                <td class="text-dark text-center">{{transact.crypto_address}}</td>
                <td class="text-dark text-center">{{transact.ammount_in_crypto}}</td>
                <td class="text-dark text-center">{{transact.date_created}}</td>
            </tr>
            {% endfor %}
        {% elif transaction_found == "no" %}
            <tr>
                <td  class="text-center p-4" colspan="9">No data available in table</td>
            </tr>
 
        {% endif %}

        </tbody>
    </table>
</div>
</div>


{% endblock content%}

{% block script %}

{% endblock %}











